server:
  port: 8095
  servlet:
    context-path: /api

spring:
  application:
    name: local
  profiles:
    include:
      - info
  datasource:
    url: jdbc:postgresql://localhost:5432/altioracorp?reWriteBatchedInserts=true
    username: postgres
    password: postgres
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
          batch_size: 128
          fetch_size: 128
          order_inserts: true
          order_updates: true
          batch_versioned_data: true
    hibernate:
      ddl-auto: validate
    show-sql: false
  liquibase:
    enabled: true
    change-log: classpath:db.changelog.xml
    contexts: ${spring.profiles.active}
  mail:
    host: smtp.office365.com
    port: 587
    username: novedades.sistema@megaprofer.com
    password: MEGA.2021
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
